<footer class="section footer-classic context-dark bg-image mt-5" style="background: #673ab7;">
    <div class="container mt-2 mb-2">
        <div class="pt-5 row row-30">
            <div class="col-md-6 col-xl-5">
                <!-- Rights-->
                <p class="rights pt-5"><span>©  </span><span class="copyright-year">2021</span><span> </span><span>Bulbacode</span><span>. </span><span>All Rights Reserved.</span></p>
            </div>
            
            <div class="col-md-6">
                <h5>Contact</h5>
                <dl class="contact-list">
                    <dt>Tik Tok:</dt>
                    <dd><a href="https://www.tiktok.com/@bulbacode?lang=en">https://www.tiktok.com/@bulbacode</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">bulbacode.contact@gmail.com</a></dd>
                </dl>
            </div>
        </div>
    </div>
</footer>