<mat-toolbar color="primary">
    <h1>FuckingFamished</h1>
    <div>
      <a mat-button [routerLink]="'/home'"> Search </a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="followOnSocialMedia()">
      <mat-icon>favorite</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="sharePage()">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>