<div class="container text-center justify-content w-full h-full mt-1">
    <div class="flex-row justify-content mx-auto align-content">
        <app-ad-banner *ngIf="!this.businesses"></app-ad-banner>
    </div>

    <div class="mb-5 flex-row justify-content mx-auto align-content">
        <img class="animate__animated animate__bounceInLeft" src="../../../assets/FAMYSH.svg"/>
    </div>

    <div class="mt-5 flex-row justify-content mx-auto align-content">
        <img *ngIf="this.loading" src="../../../assets/loading.svg"/>
    </div>
    
    <div class="mt-5 flex-row justify-content mx-auto align-content">
        <app-distance-question-card *ngIf="this.step == 1" (hitNext)="onDistance($event)"></app-distance-question-card>
        <app-urgent-question-card *ngIf="this.step == 2" (hitNext)="onUrgency($event)"></app-urgent-question-card>
        <app-price-question-card *ngIf="this.step == 3" (hitNext)="onPrice($event)"></app-price-question-card>
        <app-extras-question-card *ngIf="this.step == 4" (hitNext)="onExtras($event)"></app-extras-question-card>
        <app-restaurant-view *ngIf="this.step == 5" [businesses]="this.businesses"></app-restaurant-view>
    </div>

    
</div>