<div class="container mt-5">
    <div class="row justify-content-center align-content-center">
        <h1 class="text-center">So, you're pretty fucking famished huh?</h1>
    </div>

    <div class="row justify-content-center align-content-center">
        <h2 class="text-center">Well let me offer some suggestions for your indecisive ass.</h2>
    </div>

    <div class="row justify-content-center align-content-center mt-5">
        <h4 class="mx-auto">Which bullshit measurement do you use?</h4>
    </div>

    <div class="row justify-content-center align-content-center mt-2">
        <div class="mx-auto">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="isMiles">
                <mat-button-toggle [value]="true">Miles</mat-button-toggle>
                <mat-button-toggle [value]="false">Kilometers</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <div class="row justify-content-center align-content-center mt-5">
        <h4>How far away do you wanna fucking go?</h4>
    </div>

    <div class="row justify-content-center align-content-center mt-5">
        <h5>Distance Away: {{ radius }} </h5>
    </div>

    <div class="row justify-content-center align-content-center">
        <mat-slider style="width: 300px;" class="text-center mx-auto" min="0" max="100" step="5" [(ngModel)]="radius"></mat-slider>
    </div>

    <div class="row justify-content-center align-content-center mt-5">
        <button mat-raised-button color="primary" (click)="search()">Find Me Some Fucking Food</button>
    </div>
</div>
