<a href="mailto:bulbacode.contact@gmail.com">
    <div class="flex animate__animated animate__flipInX animate__delay-2s flex-row align-center justify-center mx-4 my-2 px-4 py-2 rounded-xl">
        <div id="594594259">
            <script type="text/javascript">
                try {
                    window._mNHandle.queue.push(function (){
                        window._mNDetails.loadTag("594594259", "728x90", "594594259");
                    });
                }
                catch (error) {}
            </script>
        </div>
    </div>    
</a>